<img class="wft-mark" src="/assets/icons/wft-mark.png" alt="" width="145" height="32" decoding="async" /><span class="brand-stack"><span class="wft-word">WEBSITES FOR TRADIES</span><span class="tagline">WEBSITES THAT <span class="tagline-accent">GET JOBS</span></span></span>
